<div>
  <div id="player">
    <video #videoRef id="video" src={{repo?.currentVideo?.url}}>
      <ng-container *ngIf="repo?.currentVideo?.subtitles">
        <track *ngFor="let subtitle of repo.currentVideo.subtitles" [label]="subtitle.label" kind="subtitles" [srclang]="subtitle.srclang"
          [src]="subtitle.src">
      </ng-container>
    </video>
    <div id="positionview">
      <div id="transportbar" (click)="changePosition($event)">
        <div id="position" [ngStyle]="{ 'width': progressWidth }"></div>
      </div>
      <div id="time">
        <span>{{currentTime}}</span> /
        <span id="duration">{{duration}}</span>
      </div>
    </div>

    <div id="controls" *ngIf="repo.videos.length > 0; else nodata">
      <button (click)="togglePlay()">
        <img src={{togglePlayUrl}} alt="{{togglePlayState}}" title="{{togglePlayState}}" />
      </button>
      <button (click)="stop()">
        <img src="../../assets/img/stop.png" alt="Stop" title="Stop" />
      </button>
      <button (click)="back()">
        <img src="../../assets/img/back.png" alt="Back" title="Back" />
      </button>
      <button (click)="forward()">
        <img src="../../assets/img/forward.png" alt="Forward" title="Forward" />
      </button>
      <button (click)="turnDown()" [disabled]="isNotPossibleToTurnDown()">
        <img src="../../assets/img/lower.png" alt="Turn down" title="Turn down" />
      </button>
      <button (click)="turnUp()" [disabled]="isNotPossibleToTurnUp()">
        <img src="../../assets/img/higher.png" alt="Turn up" title="Turn up" />
      </button>
      <button (click)="toggleMute()">
        <img src="{{toggleMuteUrl}}" alt="{{toggleMuteState}}" title="{{toggleMuteState}}" />
      </button>
      <button (click)="toggleSubtitles()">
        <img src="{{toggleSubtitlesUrl}}" alt="{{toggleSubtitlesState}}" title="{{toggleSubtitlesState}}" />
      </button>
      <select name="subtitleSelect" (change)="onChangeSubtitles($event.target.value)">
        <option value="-ninguno-">Sin subtítulos</option>
        <option *ngFor="let subtitle of repo.currentVideo.subtitles" [value]="subtitle.srclang">{{subtitle.label}}</option>
      </select>
    </div>
  </div>

  <div id="volumecontrol">
    <div id="volumebar">
      <div id="volume" [ngStyle]="{ 'height': volumeHeight, 'marginTop': volumeMarginTop }"></div>
    </div>
  </div>
</div>

<ng-template #nodata>
  <h3>Waiting for a video to be processed</h3>
</ng-template>